.two{
    margin-left: 33px;
}
.two1{
    margin-left: 28.5px ;
}
.two2{
    margin-left: 26px;
}
.two3{
    margin-left:13px;
}
.two4{
    margin-left:30px ;
}
.two5{
    margin-left:9px ;
}
.two6{
    margin-left:19px ;
}
